.item-display-wrap {
    width: 250px;
    border-radius: 5%;
    background: linear-gradient(to bottom, #300f0f 15%, #4a6aa5 33%);
    max-height: 350px;
    max-width: 200px;
    border: 1px solid black;
    transition: 0.2s;
    margin: 15px auto;
}

.item-display-wrap:hover {
    background: #300f0f;
    box-shadow: inset 0 0 20px #4a6aa5;
    cursor: pointer;
}

.desc {
    color: #ffffff;
}

.title {
    color: #fff
}