.jumbo {
    margin: 25px;
}

.item-display-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin: 3% auto;
}

.text {
    text-align: center;
}
